<?xml version='1.0' encoding='utf-8'?>
<widget id="com.domain.mobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>cordova-mobile-app</name>
    <description>
        App Description
    </description>
    <author email="oancea.dragosh@gmail.com" href="http://dragosh.me/">
      Oancea Dragos
    </author>
    <access origin="*" />
    <content src="index.html" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="10000" />

</widget>
