//
// Variables
// --------------------------------------------------

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #3B5998 !default; // blueish (fb button)
$calm:                            #43cee6 !default; // tab color
$balanced:                        #5cb85c !default; // green (login button)
$energized:                       #eb4335 !default; //red (badges)
$assertive:                       #2d373f !default; //gray (tabs)
$royal:                           #F0B840 !default;
$neutral:                         #999999 !default; //(secondary tabs)
$dark:                            #040303 !default; //(headers)



$ionicons-font-path: "fonts" !default;
